{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Simsar{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">

    <style>
        #navbarSupportedContent > ul > li > a {
            color:#FFFFFF;
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
        }

        .my-cart-btn {
            max-height: 32px;
        }
        .col-md-12 {
            margin-top: 30px;
            margin-left: 15%;
    }

        .col-form-label{
            font-size: 18px;
            color: #79282e;
            text-align: center;
    }
        .form-control {
        }
        

    </style>
</head>
<body style="background: #FFFEF4">
<main>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">SIMSAR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'product_new' %}">New Product<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'auction_new' %}">New Auction <span
                                class="sr-only">(current)</span></a>
                    </li>
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'auction_list' %}">Auction List <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profile' pk=request.user.pk %}">Profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a style="position:absolute; top: 8px; right: 24px;" class="nav-link" href="{% url 'logout' %}">LOGOUT
                            <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a style="position:absolute; top: 8px; right: 120px;" class="nav-link" href="{% url 'login' %}">LOGIN
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a style="position:absolute; top: 8px; right: 24px;" class="nav-link" href="{% url 'signup' %}">SIGNUP
                            <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>