{% include 'base.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="row" align="center">
        <div class="col-md-12" align="center">
        {% if product.product_photo %}
            <img src="{{ product.product_photo.url }}" width="500">
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            <a href="{% url 'profile' pk=product.seller.id  %}"> {{ product.seller.username }}  </a>
            <h1> Product name : {{ product.productname }}</h1>
            <p>{{ product.quantity }}</p>
            <p>{{ product.bread_date }}</p>
            <p>{{ product.harvest_date }}</p>
            <p>{{ product.location }}</p>
             <p>{{ product.price }}</p>
            <p>{{ product.product_content }}</p>
        </div>
    </div>

    <div align="center">
    {% if product.seller == request.user %}
        <a href="{% url 'product_edit' pk=product.pk %}"> Edit <span class="glyphicon glyphicon-pencil"></span> </a>
    {% endif %}



    </div>
{% endblock %}
</body>
</html>