{% include 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row" align="center">
        <div class="col-md-12" align="center">
            {% if auction.product_photo %}
                <img src="{{ auction.product_photo.url }}" width="500">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            <a href="{% url 'profile' pk=auction.auctioneer.id %}"> {{ auction.auctioneer.username }}  </a>
            <h1>{{ auction.productname }}</h1>
            <p>{{ auction.quantity }}</p>
            <p>{{ auction.bread_date }}</p>
            <p>{{ auction.harvest_date }}</p>
            <p>{{ auction.location }}</p>
            <p id="start_price">{{ auction.price }}</p>
            <p>{{ auction.product_content }}</p>
            <p>{{ auction.start_time }}</p>
            <p>{{ auction.min_auction_time }}</p>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-6">
            <p id="demo"></p>
            <p id="first-counter">{{ auction.countdown }}</p>
            <form method="POST" enctype="multipart/form-data" class="post-form" name="offer-form">{% csrf_token %}
                <input type="hidden" id="myUsername" value="{{ user.username }}"/>
                <input type="hidden" id="id_auction" value="{{ auction.id }}"/>
                {{ form|crispy }}
                <button type="submit" class="save btn btn-success" id="submit">Offer</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>OFFERS</h2>
            <ul id="price-items">
                {% for auctionReady in auctionReadies %}
                    {% if auctionReady.auction_ref == auction %}
                        <li>{{ auctionReady.auction_price }}
                            {{ auctionReady.user_ref.username }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("id_auction_price_0").value = ''
            timer()
        })
        var formData = $(".post-form")
        var priceInput = $("#id_auction_price_0")
        var priceHolder = $('#price-items')
        var me = $('#myUsername').val()
        var id = $('#id_auction').val()
        var demo = $('#demo')
        //console.log(window.location)
        var loc = window.location
        var ttt = null;


        var wsStart = 'ws://' + window.location.host + window.location.pathname
        if (loc.protocol === 'https:') {
            wsStart = 'wss://'
        }
        var endpoint = wsStart + loc.host + loc.pathname

        var socket = new ReconnectingWebSocket(endpoint)

        socket.onmessage = function (e) {
            console.log("message", e)
            var data = e.data.split("@")
            if (data[1] === id) {
                priceHolder.prepend("<li>" + data[0] + "</li>")
                clearTimeout(ttt)
                countdown();
            }
        }

        socket.onopen = function (e) {
            console.log("open", e)
            countdown()
            formData.submit(function (event) {
                event.preventDefault()
                var priceInt = priceInput.val()
                var id_auction = id
                //priceHolder.append("<li>" + priceInt + " " + me + "</li>")
                var finalData = {
                    'price': priceInt,
                    'id': id_auction
                }
                socket.send(JSON.stringify(finalData))
                formData[0].reset()
            })
        }

        socket.onerror = function (e) {
            console.log("error", e)
        }

        socket.onclose = function (e) {
            console.log("close", e)
        }

        var remainder = 0
        var t = null
        var counter_first = document.getElementById("first-counter");
        var remainder_first = parseInt(counter_first.textContent)

        function countdown() {
            if (remainder_first < 1) {
                clearTimeout(t)
                $.ajax({
                    type: "POST",
                    url: "{% url 'last_auction' pk=auction.id %}",
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (msg) {
                        remainder = parseInt(msg)
                        f()
                    }
                })
            }
        }


        function f() {

            if (remainder === 0) {
                document.getElementById("submit").disabled = true
            }
            document.getElementById("demo").innerHTML = remainder;
            remainder--;
            if (remainder > 0) {
                t = setTimeout(f, 1000);
            }
            else {
                '{{ auction.end_of_auction }}'
                window.location =  "{% url 'sold_auction' pk=auction.id %}"
            }

        }


        $('#id_auction_price_0').keyup(function () {
            var offer = parseFloat(document.forms["offer-form"]["auction_price_0"].value)
            var last = 0
            var lastPrice = 0
            if ($("#price-items").children().length > 0) {
                lastPrice = $("#price-items li:first-child").get(0).innerHTML
                lastPrice = lastPrice.split(" ")
                temp = lastPrice[0].split("₺")
                last = parseFloat(temp[1].replace(",", ""))
            }
            var startPrice = document.getElementById("start_price").textContent
            var float_price = parseFloat(startPrice.split(".")[0].replace(/\D/g, ""))

            if (offer > float_price && offer > last) {
                document.getElementById("submit").disabled = false
            }
            else {
                document.getElementById("submit").disabled = true
            }
        });


        function timer() {
            counter_first.innerHTML = String(remainder_first);
            remainder_first--;
            if (remainder_first > 0) {
                t = setTimeout(timer, 1000);
            } else {
                counter_first.innerHTML = ""
                var sec = 0
                $.ajax({
                    type: "POST",
                    url: "{% url 'extra_time' pk=auction.id %}",
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (msg) {
                        sec = parseInt(msg)
                        demo = document.getElementById("demo")
                        f1()
                    }
                })
                function f1() {
                    sec--;
                    if (sec >= 0) {
                        demo.innerHTML = String(sec);
                        ttt = setTimeout(f1, 1000);
                    }
                }

            }

        }


    </script>
{% endblock %}