{% include 'base.html' %}

{% block content %}

    {% load crispy_forms_tags %}

    <style>
        .col-md-9 > h1 {
            margin-top: 20px;
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
            color: #79282e;
        }

        #price-items {
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
            color: #79282e;
        }

        #countdown {
            position: relative;
            margin: auto;
            margin-top: 100px;
            height: 100px;
            width: 100px;
            text-align: center;
        }

        #countdown-number {
            margin-top: 40px;
            color: #79282e;
            display: inline-block;
            line-height: 40px;
            font-weight: bold;
            font-size: 20px; ;
        }

        svg {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100px;
            transform: rotateY(-180deg) rotateZ(-90deg);
        }

        svg circle {
            stroke-dasharray: 189px;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 10px;
            stroke:  #F19425;
            fill: none;
        }

        @keyframes countdown {
            from {
                stroke-dashoffset: 0px;
            }
            to {
                stroke-dashoffset: 189px;
            }
        }

    </style>

    <div class="container" style="margin-top: 60px">
        <div class="row">
            <div class="col-sm-6 ">
                {% if auction.product_photo %}
                    <img src="{{ auction.product_photo.url }}" width="500" height="500">
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="col-md-9">
                    <h1> Product Name : {{ auction.productname }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product Quantity : {{ auction.quantity }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product name : {{ auction.bread_date }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Harvest Date : {{ auction.harvest_date }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Location : {{ auction.location.capitalize }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product price : <span id="start_price">{{ auction.price }}</span></h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product price : {{ auction.start_time }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product content :
                        <text>{{ auction.product_content }}</text>
                    </h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product owner :
                        <a href="{% url 'profile' pk=auction.auctioneer.id %}">
                            <text>{{ auction.auctioneer.username }}</text>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col-md-6" id="parent_of_countdown">
            <div id="countdown" class="countdown">
                <div id="countdown-number"></div>
                <svg id="deneme">
                    <circle id="timer_circle" r="30" cx="38" cy="50" ></circle>
                </svg>
            </div>
            <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
            <form method="POST" enctype="multipart/form-data" class="post-form" name="offer-form">{% csrf_token %}
                <input type="hidden" id="myUsername" value="{{ user.username }}"/>
                <input type="hidden" id="id_auction" value="{{ auction.id }}"/>
                {{ form|crispy }}
                <button type="submit" class="save btn btn-success" id="submit">Offer</button>
            </form>
        </div>
        <div class="col-md-6">
            <h1>OFFERS</h1>
            <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
            <ul id="price-items">
                {% for auctionReady in auctionReadies %}
                    {% if auctionReady.auction_ref == auction %}
                        <li>{{ auctionReady.auction_price }}
                            {{ auctionReady.user_ref.username }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        var countdown;
        $(document).ready(function () {
            document.getElementById("id_auction_price_0").value = '';
            var css_value = "countdown " + '{{ auction.remaind_time }}' + "s linear infinite forwards"
            document.getElementById("timer_circle").style.animation = css_value
            countdown = '{{ auction.remaind_time }}'

        });
        var formData = $(".post-form");
        var priceInput = $("#id_auction_price_0");
        var priceHolder = $('#price-items');
        var id = $('#id_auction').val();
        var loc = window.location;

        var wsStart = 'ws://' + window.location.host + window.location.pathname;
        var endpoint = wsStart + loc.host + loc.pathname;
        var socket = new ReconnectingWebSocket(endpoint);
        var time;
        var countdownNumberEl = document.getElementById('countdown-number');


        if (loc.protocol === 'https:') {
            wsStart = 'wss://'
        }

        socket.onmessage = function (e) {
            console.log("message", e);
            var data = e.data.split("@");
            if (data[1] === id) {
                document.getElementById("countdown").style.strokeDashoffset = 0

                var data_with_time = data[0].split("**");
                priceHolder.prepend("<li>" + data_with_time[0] + "</li>")
                time = data_with_time[1]
                var css_value = "countdown " + time + "s linear infinite forwards"
                document.getElementById("timer_circle").style.animation = css_value
                countdown = time;
                if (countdown < '60') {
                    var elem_old = document.getElementById("countdown")
                    var elem_new = elem_old.cloneNode(true)
                    document.getElementById("parent_of_countdown").insertBefore(elem_new, elem_old)
                    document.getElementById("parent_of_countdown").removeChild(elem_old)
                    countdownNumberEl = document.getElementById('countdown-number');
                }
            }
        };

        socket.onopen = function (e) {
            console.log("open", e);
            formData.submit(function (event) {
                event.preventDefault();
                var priceInt = priceInput.val();
                var id_auction = id;
                //priceHolder.append("<li>" + priceInt + " " + me + "</li>")
                var finalData = {
                    'price': priceInt,
                    'id': id_auction
                };
                socket.send(JSON.stringify(finalData));
                formData[0].reset();
            })
        };

        socket.onerror = function (e) {
            console.log("error", e)
        };

        socket.onclose = function (e) {
            console.log("close", e)
        };

        document.getElementById("id_auction_price_1").hidden = true;


        countdownNumberEl.textContent = countdown;

        setInterval(function () {
            countdown = --countdown <= 0 ? 0 : countdown;

            countdownNumberEl.textContent = countdown;
        }, 1000);


    </script>
{% endblock %}