{% include 'base.html' %}

{% block content %}

    <style>
        .col-md-9 > h1, p {
            margin-top: 20px;
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
            color: #79282e;
        }
    </style>


    <div class="container" style="margin-top: 60px">
        <div class="row">
            <div class="col-sm-6 ">
                {% if auction.product_photo %}
                    <img src="{{ auction.product_photo.url }}" width="500" height="500">
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="col-md-9">
                    <h1> Product Name : {{ auction.productname }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product Quantity : {{ auction.quantity }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product name : {{ auction.bread_date }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Harvest Date : {{ auction.harvest_date }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Location : {{ auction.location.capitalize }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Auction start price : <span id="start_price">{{ auction.price }}</span></h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product price : {{ auction.start_time }}</h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    <h1> Product content :
                        <text>{{ auction.product_content }}</text>
                    </h1>
                    <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    {% if auction_ready.last.user_ref %}
                        <h3>Winner of Auction</h3>
                        <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                        <a href="{% url 'profile' pk=auction_ready.last.user_ref.id %}"> {{ auction_ready.last.user_ref.username }} </a>
                        <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                        <p>{{ auction_ready.last.auction_price }}</p>
                        <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    {% else %}
                        <h3>There is no a auctioneer</h3>
                        <hr style="size: 36px;width:420px; border-width: 2px; border-style: wave; display: block; background-color: #F19425">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" align="center" style="margin-left: 100px">
        <div align="center" id="chartContainer" style="height: 370px; width: 80%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>

    <script>
        var values_money = []
        window.onload = function () {
            {% for readyAuction in auction_ready %}
                var splitdata = '{{ readyAuction.auction_price }}'.split("₺")[1];
                var floatData = parseFloat(splitdata)
                values_money.push({y: floatData})
            {% endfor %}
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "{{ auction.productname }}"
                },
                axisY: {
                    includeZero: false
                },
                data: [{
                    type: "line",
                    dataPoints: values_money
                }]
            });


            chart.render();

        }
    </script>

{% endblock %}